@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@700&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@700&family=Permanent+Marker&family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@700&family=Noto+Sans+KR&family=Patrick+Hand&family=Permanent+Marker&family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  background: #000000;
}
header {
  width: 100vw;
  height: 90px;
  background-color: #00ff00;
  position: fixed;
  z-index: 200;
  top: 0px;
}

#logo {
  width: 230px;
  height: 70px;
  line-height: 85px;
  float: left;
  padding-left: 20px;
}
#logo h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: 50px;
  color: #000000;
}
#logo a {
  text-decoration-line: none;
}
footer {
  margin-top: 50px;
}
#bottomLogo h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: 100px;
  color: white;
  text-align: center;
}
#bottomLogo h5 {
  font-family: "Zeyada", cursive;
  font-weight: 600;
  font-size: 33px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
ul {
  list-style: none;
}

#menu {
  height: 60px;
}
#menu > li {
  float: left;
  position: relative;
}
#menu > li > a {
  display: block;
  font-weight: 800;
  font-size: 21px;
  padding: 20px 15px 10px 15px;
  margin-top: 9px;
  text-shadow: none;
  font-family: "Noto Sans KR", sans-serif;
  color: #000000;
}
#menu a {
  text-decoration-line: none;
}
#menu li ul {
  display: none;
  position: absolute;
  width: 115px;
  background-color: white;
  margin: 0;
  left: 6px;
}
#menu li ul li {
  padding: 5px 5px 5px 10px;
}
#menu li ul li a {
  font-size: 17px;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
}
#menu li:hover ul {
  display: block;
  z-index: 10;
}
#menu li ul li a:hover {
  text-decoration: underline;
}
#login button ul {
  display: none;
  position: relative;
  width: 115px;
  background-color: white;
  margin: 0;
  right: 75px;
}
#login button ul li {
  padding: 5px 5px 5px 10px;
}
#login button ul li a {
  font-size: 17px;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
  text-decoration-line: none;
}
#login button ul li a:hover {
  text-decoration: underline;
}
#login button:hover ul {
  display: block;
  z-index: 10;
}
#columns {
  column-width: 100vw;
  column-gap: 100vh;
}
#long1 figure img {
  width: 502px;
  height: 600px;
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #fdff00;
}
#long2 figure img {
  width: 502px;
  height: 600px;
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  border-radius: 30px;
}

#wide1 > figure {
  width: 502px;
  height: 295px;
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #fdff00;
}
#wide2 figure img {
  width: 502px;
  height: 295px;
  display: inline-block;
  margin: 0;
  margin-top: 5px;
  border-radius: 30px;
}

#long,
#wide {
  display: inline-block;
}
#long1,
#long2 {
  display: inline-block;
}
#search {
  float: right;
  background-color: #000000;
  border-radius: 30px;
  height: 30px;
  width: 200px;
  margin-top: -28px;
  margin-right: 10px;
}

#search input {
  border: none;
  background-color: #000000;
  outline: none;
  color: #00ff00;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 30;
  margin-left: 10px;
  width: 130px;
  height: 25px;
}
#search button {
  border: none;
  color: #00ff00;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #000000;
  font-size: 16px;
  font-weight: 30;
  height: 25px;
  margin-top: 1px;
  margin-right: 1px;
  border-radius: 30px;
}

#login button {
  float: right;
  background-color: #00ff00;
  height: 35px;
  width: 35px;
  margin-top: -29px;
  outline: none;
  border: none;
  margin-right: 40px;
  margin-left: 3px;
}
#login button img {
  height: 35px;
  width: 35px;
}

#columns img {
  filter: brightness(1);
}
#columns img:hover {
  filter: brightness(0.6);
}
#login_contents h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: 70px;
  color: white;
  text-align: center;
  background-color: #000000;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 10px;
}
#login_contents {
  border-style: solid;
  background-color: #000000;
  border-color: #00ff00;
  border-radius: 30px;
  height: 600px;
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
}
#login_form input {
  width: 300px;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 30px;
  background-color: white;
}
#login_form > input::placeholder {
  color: gray;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
#login_form > input[type="submit"] {
  color: #000000;
  background-color: #00ff00;
  margin-top: 20px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 800;
  margin-left: 95px;
  margin-top: 5px;
  border-radius: 30px;
  border: 1px solid #00ff00;
}
#login_form > input[type="text"] {
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: 95px;
  border-radius: 30px;
  outline: none;
  border: 1px solid white;
}
#login_form > input[type="password"] {
  font-size: 20px;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
  margin-left: 95px;
  border-radius: 30px;
  outline: none;
  border: 1px solid white;
}
label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #00ff00;
  border-radius: 50%;
  margin-left: 99px;
}
.chk_btn input[type="checkbox"] {
  display: none;
}

.chk_btn input[type="checkbox"]:checked + label {
  border-color: #00ff00;
  background-color: #00ff00;
}
.chk_btn h3 {
  color: #00ff00;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15.62px;
  font-weight: 800;
  width: 120px;
  padding-left: 20px;
  line-height: 13px;
}
#login_contents hr {
  width: 390px;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #00ff00;
  border-color: #00ff00;
  margin-top: 30px;
  margin-left: 50px;
}
#login_contents h4 {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 20px;
}
#login_contents a {
  font-family: "Noto Sans KR", sans-serif;
  color: #00ff00;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  margin-left: 171px;
}
.contest_title h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 450;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 120px;
}
.contest-body-header h1 {
  font-size: 25px;
  font-weight: 900;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
}
.contest-body-header {
  line-height: 25px;
  margin: 10px 20px 0px 20px;
}
.contest-body-description {
  color: #000000;
  line-height: 25px;
  height: 180px;
  margin: 5px 21px;
  font-size: 18px;
}
#magazine_search {
  background-color: white;
  border-radius: 30px;
  height: 50px;
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 120px;
}
#magazine_search input {
  border: none;
  background-color: white;
  outline: none;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  font-weight: 30;
  margin-left: 10px;
  width: 400px;
  height: 35px;
  padding-left: 5px;
}
#magazine_search input::placeholder {
  opacity: 50%;
}
#magazine_search button {
  border: none;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #00ff00;
  font-size: 23px;
  font-weight: 30;
  width: 84.39px;
  height: 50px;
  border-radius: 30px;
}
.magazine_title h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 450;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-top: 150px;
}

.card {
  height: 400px;
  width: 350px;
  border-radius: 15px;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: white;
  color: #000000;
}

.card-header {
  -webkit-transition: 0.5s; /*사파리 & 크롬*/
  -moz-transition: 0.5s; /*파이어폭스*/
  -ms-transition: 0.5s; /*인터넷 익스플로러*/
  -o-transition: 0.5s; /*오페라*/
  transition: 0.5s;
  width: 100%;
  height: 270px;
  border-radius: 15px 15px 0 0;
}

.card:hover .card-header {
  opacity: 0.8;

  height: 100px;
}

.card-body-header h1 {
  font-size: 30px;
  font-weight: 900;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
}

.card-body {
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
}

.card-body-header {
  line-height: 25px;
  margin: 10px 20px 0px 20px;
}

.card-body-subtitle {
  color: #000000;
  line-height: 25px;
  height: 180px;
  margin: 5px 21px;
  font-size: 18px;
}

.card:hover {
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.card-body-footer {
  position: absolute;
  margin-top: 15px;
  margin-bottom: 6px;
  bottom: 0;
  width: 314px;
  font-size: 14px;
  color: #000000;
  padding: 0 21px;
  background-color: white;
}
.card-body-footer hr {
  margin-bottom: 8px;
  border-color: #00ff00;
  width: 309px;
}
.card a {
  text-decoration-line: none;
}
.gallery_title h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 450;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-top: 60px;
}
.recruit_title h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 450;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 120px;
}
.recruit-body-header h1 {
  font-size: 25px;
  font-weight: 900;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
}
.recruit-body-header {
  line-height: 25px;
  margin: 10px 20px 0px 20px;
}
.recruit-body-description {
  color: #000000;
  line-height: 25px;
  height: 25px;
  margin: 5px 21px;
  font-size: 18px;
}
.recruit-body-header h4 {
  font-size: 13px;
  font-weight: 900;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  padding-left: 2px;
}

.card_recruit {
  height: 400px;
  width: 350px;
  border-radius: 15px;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  background-color: white;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 5px;
}

.card-header_recruit {
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0 0;
}
.card-body_recruit {
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
  height: 165px;
  border-radius: 15px;
}

.card-body-footer_recruit {
  position: absolute;
  margin-top: 15px;
  margin-bottom: 6px;
  bottom: 0;
  width: 350px;
  font-size: 14px;
  color: #000000;
  padding: 0 21px;
  background-color: white;
  border-radius: 15px;
}
.card-body-footer_recruit hr {
  margin-bottom: 8px;
  border-color: #00ff00;
  width: 309px;
}
.card_recruit a {
  text-decoration-line: none;
}
#gallery_contents {
  margin-top: 150px;
}
#gallery_columns {
  column-width: 350px;
  column-gap: 5px;
  margin-right: 15px;
}
#gallery_columns figure {
  display: inline-block;
  margin: 0;
  padding: 10px;
  position: relative;
}
#gallery_columns figure img {
  width: 100%;
  border-radius: 20px;
}
#gallery_columns img {
  filter: brightness(1);
}
#gallery_columns img:hover {
  filter: brightness(0.6);
}
#gallery_search {
  background-color: white;
  border-radius: 30px;
  height: 50px;
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 120px;
}
#gallery_search input {
  border: none;
  background-color: white;
  outline: none;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 25px;
  font-weight: 30;
  margin-left: 10px;
  width: 400px;
  height: 35px;
  padding-left: 5px;
}
#gallery_search button {
  border: none;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #00ff00;
  font-size: 23px;
  font-weight: 30;
  width: 84.39px;
  height: 50px;
  border-radius: 30px;
}
#gallery_search input::placeholder {
  opacity: 50%;
}
.profile_card_body h1 {
  font-weight: 900;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  margin-top: 30px;
}
.profile_card_body_description_follower {
  font-weight: 600;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-right: 11px;
}
.profile_card_body_description {
  font-weight: 500;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  margin-top: 25px;
  line-height: 200%;
}
.profile_card {
  margin: 0 auto;
  height: 500px;
  width: 800px;
  border-radius: 15px;
  background-color: white;
  color: #000000;
  margin-top: 40px;
}
.profile_card_body {
  display: inline-block;
  width: 50%;
  height: 500px;
  float: right;
}
.profile_card_header {
  display: inline-block;
  width: 50%;
  height: 500px;
}

.profile_card_body_btn button {
  border-radius: 15px;
  width: 150px;
  height: 30px;
  background-color: #00ff00;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
  display: inline-block;
}
#profile_contents {
  margin-top: 150px;
}
.real-upload {
  display: none;
  cursor: pointer;
}

.upload {
  border-radius: 15px;
  width: 150px;
  height: 30px;
  background-color: #00ff00;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
  float: left;
  cursor: pointer;
  line-height: 30px;
}
.profile_card_body_btn {
  margin-left: 47.5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.profile_gallery h1 {
  font-weight: 900;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 60px;
  margin-bottom: 10px;
  font-size: 27px;
  margin-left: 17px;
}
#profile_gallery_columns {
  column-width: 350px;
  column-gap: 5px;
  margin-right: 15px;
}
#profile_gallery_columns figure {
  display: inline-block;
  margin: 0;
  padding: 10px;
}
#profile_gallery_columns figure img {
  width: 100%;
  border-radius: 20px;
}
#profile_gallery_columns img {
  filter: brightness(1);
}
#profile_gallery_columns img:hover {
  filter: brightness(0.6);
}
.profile_card_body hr {
  border-color: #00ff00;
  width: 350px;
  margin: 0 auto;
}

.viewprofile {
  position: absolute;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s all;
  bottom: 21px;
  left: 20px;
  overflow: hidden;
}

#gallery_columns figure:hover .viewprofile {
  opacity: 1;
}
.main_pg01 {
  width: 100vw;
  height: 100vh;
}
.main_pg01 h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 173px;
  font-weight: bold;
  color: #00ff00;
  line-height: 90%;
  margin-top: 12vh;
}

.main_pg01 h1 span {
  opacity: 0;
  display: inline-block;
  white-space: nowrap;
  animation: showText forwards; /* Adjusted duration to 2s */
  animation-iteration-count: infinite;
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main_pg02 {
  width: 100vw;
  height: 70vh;
  background-color: #000000;
}

.main_pg02 h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}
.main_pg02 h3 {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
}

.main_pg03 {
  width: 100vw;
  height: 70vh;
  background-color: #000000;
  margin-top: 100px;
}

.text_round {
  margin: 0 auto;
  width: 700px;
  height: 85px;
  border-radius: 50px;
  background-color: #000000;
  border: 3px solid #00ff00;
}
#scroll {
  height: 80px;
  margin-left: 80px;
  margin-bottom: 30px;
}
#scroll li {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  color: #00ff00;
  font-size: 50px;
  font-weight: 800;
}
.text_round h1 {
  float: left;
  font-family: "Noto Sans KR", sans-serif;
  color: #00ff00;
  font-size: 50px;
  width: 45px;
  height: 80px;
  margin-left: 29px;
  margin-bottom: 20px;
  font-weight: 800;
}
.page03_title {
  margin-bottom: 60px;
}
.page03_title h1 {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 70px;
  text-align: center;
}
.page03_text {
  margin-top: 50px;
}
.page03_text h3 {
  font-family: "Noto Sans KR", sans-serif;
  color: #767677;
  text-align: center;
  font-size: 20px;
}
.main_pg07 {
  width: 100vw;
  height: 60vh;
  background-color: #000000;
  margin-top: 200px;
}
.main_pg07 h1 {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 70px;
  text-align: center;
  margin-bottom: 60px;
}
.main_pg08 {
  width: 100vw;
  height: 30vh;
  background-color: #000000;
  margin-top: 100px;
}

.main_pg_login li button {
  width: 210px;
  height: 50px;
  border-radius: 50px;
  background-color: #00ff00;
  border: none;
  margin-top: 20px;
}
.main_pg_login {
  width: 250px;
  margin: 0 auto;
}
.main_pg04 {
  width: 100vw;
  height: 320vh;
  background-color: #000000;
  margin-top: 100px;
}
.main_pg04 h1 {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  font-size: 70px;
}
.page04_title {
  width: 500px;
  height: 200px;
  margin-left: 75px;
  margin-bottom: 40px;
}
.page04_text h3 {
  font-family: "Noto Sans KR", sans-serif;
  color: #767677;
  font-size: 20px;
}
.page04_text {
  margin-left: 35px;
  text-align: center;
  margin-top: 30px;
}
.page04_content {
  margin: 0 auto;
  width: 1400px;
}

#main_gallery_columns {
  column-width: 290px;
  column-gap: 5px;
  margin-right: 15px;
}
#main_gallery_columns figure {
  display: inline-block;
  margin: 0;
  padding: 5px;
  position: relative;
}
#main_gallery_columns figure img {
  width: 100%;
  border-radius: 20px;
}
.pictalk_card01 {
  width: 600px;
  height: 740px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  margin-top: 150px;
  border-radius: 15px;
}
.pictalk_header {
  width: 600px;
  height: 80px;
}
.pictalk_header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
.pictalk_name {
  font-family: "Noto Sans KR", sans-serif;
  color: #000000;
  width: 200px;
  height: 80px;
  font-size: 30px;
  position: relative;
  padding-top: 20px;
  margin-left: 80px;
}
.pictalk_main {
  width: 600px;
}
.pictalk_main img {
  width: 600px;
}
.pictalk_footer {
  font-family: "Noto Sans KR", sans-serif;
  color: #000000;
  font-size: 25px;
  margin-left: 20px;
}
.pictalk_card02 {
  width: 600px;
  height: 150px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  margin-top: 30px;
  border-radius: 15px;
}
.pictalk_card03 {
  width: 600px;
  height: 150px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  margin-top: 30px;
  border-radius: 15px;
}
.pictalk_card04 {
  width: 600px;
  height: 890px;
  margin: 0 auto;
  background-color: white;
  position: relative;
  margin-top: 30px;
  border-radius: 15px;
}
#signup_contents h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
  font-size: 70px;
  color: white;
  text-align: center;
  background-color: #000000;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 10px;
}
#signup_contents {
  border-style: solid;
  background-color: #000000;
  border-color: #00ff00;
  border-radius: 30px;
  height: 450px;
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
}
#signup_contents h4 {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 20px;
}
#signup_contents a {
  font-family: "Noto Sans KR", sans-serif;
  color: #00ff00;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  margin-left: 171px;
}
#gallery_columns img:not(.viewprofile) {
  cursor: pointer;
}

#profile_gallery_columns figure img {
  cursor: pointer;
}

#profile_gallery_columns figure img:hover {
  cursor: pointer;
}
#lightbox {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.79);
  top: 0%;
  left: 0%;
  position: fixed;
  display: none;
}
#lightboxImg {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
}
